<table class="table_class_basic_full_width" style="font-size: 85%; width: 100%; border-collapse: collapse; border: 1px solid;">
    <thead>
        <tr>
            <th style="width:20%; text-align:left; padding: 2px; border: 1px solid;">    </th>
            <th style="width:20%; text-align:left; padding: 2px; border: 1px solid;">Present (simple)</th>
            <th style="width:20%; text-align:left; padding: 2px; border: 1px solid;">Future (simple)</th>
            <th style="width:20%; text-align:left; padding: 2px; border: 1px solid;">Past (aorist)</th>
            <th style="width:20%; text-align:left; padding: 2px; border: 1px solid;">Past (imperf.)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="width: 20%; padding: 2px; border: 1px solid;">εγώ</td>
            <td style="width: 20%; padding: 2px; border: 1px solid;">{conj.present_simple_1sg}</td>
            <td style="width: 20%; padding: 2px; border: 1px solid;">{conj.future_simple_1sg}</td>
            <td style="width: 20%; padding: 2px; border: 1px solid;">{conj.past_aorist_1sg}</td>
            <td style="width: 20%; padding: 2px; border: 1px solid;">{conj.past_imperfect_1sg}</td></tr><tr>
            <td style="width: 20%; padding: 2px; border: 1px solid;">εσύ</td>
            <td style="width: 20%; padding: 2px; border: 1px solid;">{conj.present_simple_2sg}</td>
            <td style="width: 20%; padding: 2px; border: 1px solid;">{conj.future_simple_2sg}</td>
            <td style="width: 20%; padding: 2px; border: 1px solid;">{conj.past_aorist_2sg}</td>
            <td style="width: 20%; padding: 2px; border: 1px solid;">{conj.past_imperfect_2sg}</td></tr><tr>
            <td style="width: 20%; padding: 2px; border: 1px solid;">αυτ(ός/ή/ό)</td>
            <td style="width: 20%; padding: 2px; border: 1px solid;">{conj.present_simple_3sg}</td>
            <td style="width: 20%; padding: 2px; border: 1px solid;">{conj.future_simple_3sg}</td>
            <td style="width: 20%; padding: 2px; border: 1px solid;">{conj.past_aorist_3sg}</td>
            <td style="width: 20%; padding: 2px; border: 1px solid;">{conj.past_imperfect_3sg}</td></tr><tr>
            <td style="width: 20%; padding: 2px; border: 1px solid;">εμείς</td>
            <td style="width: 20%; padding: 2px; border: 1px solid;">{conj.present_simple_1pl}</td>
            <td style="width: 20%; padding: 2px; border: 1px solid;">{conj.future_simple_1pl}</td>
            <td style="width: 20%; padding: 2px; border: 1px solid;">{conj.past_aorist_1pl}</td>
            <td style="width: 20%; padding: 2px; border: 1px solid;">{conj.past_imperfect_1pl}</td></tr><tr>
            <td style="width: 20%; padding: 2px; border: 1px solid;">εσείς</td>
            <td style="width: 20%; padding: 2px; border: 1px solid;">{conj.present_simple_2pl}</td>
            <td style="width: 20%; padding: 2px; border: 1px solid;">{conj.future_simple_2pl}</td>
            <td style="width: 20%; padding: 2px; border: 1px solid;">{conj.past_aorist_2pl}</td>
            <td style="width: 20%; padding: 2px; border: 1px solid;">{conj.past_imperfect_2pl}</td></tr><tr>
            <td style="width: 20%; padding: 2px; border: 1px solid;">αυτ(οί/ές/ά)</td>
            <td style="width: 20%; padding: 2px; border: 1px solid;">{conj.present_simple_3pl}</td>
            <td style="width: 20%; padding: 2px; border: 1px solid;">{conj.future_simple_3pl}</td>
            <td style="width: 20%; padding: 2px; border: 1px solid;">{conj.past_aorist_3pl}</td>
            <td style="width: 20%; padding: 2px; border: 1px solid;">{conj.past_imperfect_3pl}</td>
        </tr>
    </tbody>
</table>
<br>
<table class="table_class_basic_full_width" style="font-size: 85%; width: 100%; border-collapse: collapse; border: 1px solid;">
    <thead>
        <tr>
            <th style="width:33%; text-align:left; padding: 2px; border: 1px solid;">    </th>

            <th style="width:33%; text-align:left; padding: 2px; border: 1px solid;">Imperative (imperf. mood)</th>
            <th style="width:33%; text-align:left; padding: 2px; border: 1px solid;">Imperative (perf. mood)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="width: 33%; padding: 2px; border: 1px solid;">εσύ</td>
            <td style="width: 33%; padding: 2px; border: 1px solid;">{conj.imperative_imperfect_mood_2sg}</td>
            <td style="width: 33%; padding: 2px; border: 1px solid;">{conj.imperative_perfect_mood_2sg}</td>
        </tr>
        <tr>
            <td style="width: 33%; padding: 2px; border: 1px solid;">εσείς</td>
            <td style="width: 33%; padding: 2px; border: 1px solid;">{conj.imperative_imperfect_mood_2pl}</td>
            <td style="width: 33%; padding: 2px; border: 1px solid;">{conj.imperative_perfect_mood_2pl}</td>
        </tr>
    </tbody>
</table>